@import "../../../@theme/styles/themes";

@include nb-install-component() {
  .trading-symbol {
    cursor: pointer;
  }

  .trading-symbol:hover {
    box-shadow: 0 0.5em 0.5em -0.4em gray;
    transform: translateY(-0.25em);
  }

  .EQ {
    color: nb-theme(text-primary-color);
  }

  .CE {
    color: nb-theme(text-success-color);
  }
  .PE {
    color: nb-theme(text-danger-color);
  }
  .FUT {
    color: nb-theme(text-warning-color);
  }

  .NSE,
  .NFO {
    color: #c35516;
  }

  .BSE,
  .CDS,
  .MCX,
  .BCD {
    color: #0089d0;
  }
}
