<nb-card class="trading-symbol">
    <nb-card-header>
        <div class="row">
            <div class="col-lg-12">
                {{tradingSymbol}}
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-12">
                <h6 style="color: gray;">{{name}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <p>{{expiryDate | date }}</p>
                <h6 [className]="instrumentType">{{instrumentType}} {{strike}}</h6>
            </div>
            <div class="col-lg-4">
                <h5 [className]="exchange" >{{exchange}}</h5>
            </div>
        </div>


    </nb-card-body>
</nb-card>