@import '../src/assets/style/sidebar.scss';
@import '../src/assets/style/footer.scss';
@import '../src/assets/style/nb-tooltip.scss';
@import '../src/assets/style/scrollbar.scss';

@import '../src/app/@theme/styles/themes.scss';

@include nb-install-component() {
    
    ::ng-deep .required-asterisk:after {
        content: '*';
        color: red;
    }

    ::ng-deep nb-card-header {
        padding: 0.5rem 1.5rem !important;
    }
}