<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-11">
                <nb-icon icon="activity-outline"></nb-icon>
                Historical Data
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="offset-3 col-lg-6 offset-3">
                <input #tradingSymbolInput fullWidth nbInput type="text" (input)="onTradingSymbolChange()"
                    [(ngModel)]="tradingSymbol" placeholder="Trading Symbol"
                     /> 
                     <!-- [nbAutocomplete]="tradingSymbolAutoComplete" -->
                <!-- <nb-autocomplete #tradingSymbolAutoComplete (selectedChange)="onSelectionChange($event)">
                    <nb-option *ngFor="let option of filteredOptions; let ci = index" value="{{option}}">
                        {{ option }}
                    </nb-option>
                </nb-autocomplete> -->
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3 col-md-3" *ngFor="let option of filteredOptions; let ci = index">
                <app-trading-symbol [tradingSymbol]="option" (click)="selectedTradingSymbol(option)"></app-trading-symbol>
            </div>
        </div>

    </nb-card-body>
</nb-card>